<html>
    <head>
        <title>Thank You</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        {# auto-redirect after 4 seconds. #}
        <meta http-equiv='refresh' content="4; URL='/'" />
    </head>
    <body>
        <div class='container'>
            <h1>Thank you for deleting all of our cars.</h1>
            <h2>What are we gonna sell now??</h2>
            <h3>They were all garbage anyways.</h3>
            <h5>I guess we're not really that upset.</h5>


            <a href='/'>Leave</a>
        </div>
    </body>
</html>
