<html>
    <head>
        <title>Here is your stuff</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        {# redirect to give unrealistic buyer another chance after 1.5 seconds #}
        {% if search_results is empty %}
            <meta http-equiv="refresh" content="1.5; URL='/buy'" />
        {% endif %}
    </head>
    <body>
        <div class='container'>
            {% if search_results is not empty %}
                <h1>Here are the cars you will like:</h1>
                <ul>
                    {% for car in search_results %}
                    {# This syntax gives twig access to the class Car's
                     private properties #}
                        <li><strong>{{ car.getMake }}</strong></li>
                        <li>${{ car.getPrice }}</li>
                        <li>Miles: {{ car.getMiles }}</li>
                        <li>{{ car.getImagePath }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>Please re-evaluate your expectations.</h3>
            {% endif %}
            <a href="/">Home</a>
            <a href="http://www.cleverbot.com/">Customer Service</a>
        </div>

    </body>
</html>
