<html>
    <head>
        <title>Here is your stuff</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class='container'>
            {% if search_results is not empty %}
                <h1>Here are the cars you will like:</h1>
                <ul>
                    {% for car in search_results %}
                    {# This syntax gives twig access to the class Car's
                     private properties #}
                        <li><strong>{{Car.getMake}}</strong></li>
                        <li>${{Car.getPrice}}</li>
                        <li>Miles: {{Car.getMiles}}</li>
                        <li>{{Car.getImagePath}}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3>Please adjust your idiotic expectations.</h3>
            {% endif %}
        </div>
    </body>
</html>
